<div>
	<ol class="breadcrumb">
	  <li class="active"><i class="glyphicon glyphicon-home"></i> Directories</li>
	</ol>

	<div class="alert alert-danger" role="alert" ng-if="errors.length > 0">
		<p ng-repeat="error in errors">{{error.message}}</p>
	</div>
	<form ng-submit="addDirectory()">
		<div class="form-group">
			<label>Shop Name</label>
			<input type="text" class="form-control" ng-model="directory.shop">
		</div>
		<div class="form-group">
			<label>Location</label>
			<input type="text" class="form-control" ng-model="directory.location">
		</div>
		<div class="form-group">
			<input type="submit" value="Save" class="btn btn-success">
			<a href="{{serviceBase}}directories/download" class="btn btn-info">Download Directory</a>
		</div>
	</form>
	<br>

	<table class="table table-striped table-condensed">
		<thead>
			<tr>
				<th>#</th>
				<th>Shop Name</th>
				<th>Location</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in directories">
				<td><b>{{$index+1}}</b></td>
				<td>{{item.shop}}</td>
				<td>{{item.location}}</td>
				<td>
					<a href="" ng-click="editDirectory(item)" class="btn-link"><i class="glyphicon glyphicon-pencil"></i></a> | 
					<a href="" ng-click="deleteDirectory(item)" class="btn-link"><i class="glyphicon glyphicon-trash"></i></a>
				</td>
			</tr>
		</tbody>
	</table>


</div>