<div>
	<ol class="breadcrumb">
	  <li><a href="#/"><i class="glyphicon glyphicon-home"></i> Directories</a></li>
	  <li class="active">Upload</li>
	</ol>

	<div class="alert alert-info" role="alert">
		<p>Accepted Filetypes: <b>.txt</b></p>
		<p>Accepted Formats:</p>
		<p>
			<table>
				<tr>
					<td style="width:35%">Shop Name</td>
					<td style="width:15%">{tab}</td>
					<td style="width:30%">Location</td>
					<td>(Header/Optional)</td>
				</tr>
				<tr>
					<td><i>Ex: McDonald</i></td>
					<td>{tab}</td>
					<td><i>Ex: G.A1</i></td>
					<td>(Required)</td>
				</tr>
			</table>
		</p>
	</div>

	<form ng-submit="addDirectory()">
		<div class="form-group">
			<label>Upload File</label>
			<input type="file" nv-file-select="" uploader="uploader" id="fileupload" onchange="angular.element(this).scope().clearProgressBar()"/>
		</div>
		<div class="form-group">
			<input type="button" value="Upload File" class="btn btn-info" ng-click="uploadDirectory()">
		</div>
	</form>
	<div class="progress">
	  	<div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{ uploadItem.progress }}%">
		    <span class="sr-only">{{uploadItem.progress}}% Complete</span>
	  	</div>
	</div>
	<div ng-if="success">
		<b>Upload Successful!</b>
	</div>

	<table class="table table-striped table-condensed" ng-if="errors.length > 0">
		<thead>
			<tr>
				<th>#</th>
				<th>Line</th>
				<th>Error Description</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in errors">
				<td><b>{{$index+1}}</b></td>
				<td>{{item.line}}</td>
				<td>{{item.errors}}</td>
			</tr>
		</tbody>
	</table>

	<table class="table table-striped table-condensed">
		<thead>
			<tr>
				<th>#</th>
				<th>Shop Name</th>
				<th>Location</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in directories">
				<td><b>{{$index+1}}</b></td>
				<td>{{item.shop}}</td>
				<td>{{item.location}}</td>
			</tr>
		</tbody>
	</table>

</div>